<!DOCTYPE html>
<html>
<head>
  <title>appAFIP</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () { $('body').bootstrapMaterialDesign(); });
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Generar privada y CSR</h4>
            <form id='getcertsForm' action='/getCerts' method="POST" class="pure-form pure-form-stacked">
              <div class="mb-3">
                <input type="text" name="param_c" class="form-control" placeholder="C=" required value='AR' readonly />
              </div>
              <div class="mb-3">
                <input type="text" name="param_o" class="form-control" placeholder="O=" required />
              </div>
              <div class="mb-3">
                <input type="text" name="param_cn" class="form-control" placeholder="CN=" required />
              </div>
              <div class="mb-3">
                <input type="number" name="param_snumber" class="form-control" placeholder="serialNumber / CUIT" required />
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Generar" />
              </div>
            </form>
          </div>
        </div>
      </div> 
      
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Generar P12</h4>
            <form id='getP12Form' action='/getP12' method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                <input type="text" name="userp12" class="form-control" placeholder="Usuario" required />
              </div>
              <div class="mb-3">
                <input type="password" name="passp12" class="form-control" placeholder="Password" required />
              </div>
              <div class="mb-3">
                <label for="privada" class="form-label">Privada</label>
                <input type="file" name="privada" class="form-control" accept=".key" required />
              </div>
              <div class="mb-3">
                <label for="certCRT" class="form-label">Archivo CRT</label>
                <input type="file" name="certCRT" class="form-control" accept=".crt" required />
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Generar" />
              </div>
            </form>
          </div>
        </div>
      </div> 
    </div>
  </div>

  <div class="card card-outline-primary mb-4 text-center">
    <div class="card-body">
      <h4 class="card-title">Información</h4>
      <p>Quejas, Dudas, Recomendaciones: walteriamartino@gmail.com</p>
    </div>
  </div>
</body>
</html>