body {
  
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.jpg');
}

a {
  color: #00B7FF;
}

.form-control {
  margin-bottom: 10px;
}

.card {
  margin-bottom: 10px;
  margin-right: 10px;
}

